.textHero {
  color: #1e1e1e;
  font-family: "Biro Script Plus Bold US";
  font-style: normal;
  font-weight: 400;
}

.textHeroTwo {
  color: #1e1e1e;
  font-family: "Biro Script Plus Bold US";
  font-style: normal;
  font-weight: 400;
}

.heroTitle {
  color: #1e1e1e;
  font-family: "Right Grotesk Black";
  font-style: normal;
  font-weight: 900;
}

.buttonHero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #1e1e1e;

  background: rgba(30, 30, 30, 0.1);
  backdrop-filter: blur(6px);

  font-family: "Right Grotesk Black";

  &:hover,
  &:focus {
    color: #ffffff;
  }
}

.heroLastText {
  color: #1e1e1e;
  font-family: "Messina Sans Mono";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 32px;
  }

  .textHero {
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 6px;
    height: 27px;
  }

  .textHeroTwo {
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 6px;
    height: 27px;
  }

  .heroTitle {
    font-size: 44px;
    line-height: 44px;
    letter-spacing: 0.44px;
    margin-bottom: 8px;
    width: 231px;
    text-align: center;
  }

  .buttonHero {
    width: 216px;
    padding: 10px 64px 12px 64px;

    border-radius: 8px;

    font-family: "Right Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 19px;

    position: relative;
    top: -7px;
    margin-bottom: 12px;
  }

  .heroLastText {
    width: 217px;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (min-width: 768px) {
  .heroSection {
    width: 591px;
    height: 365.5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

  .textHero {
    font-size: 20px;
    line-height: 33px;
    margin-top: 72px;
  }

  .textHeroTwo {
    font-size: 20px;
    line-height: 33px;
    margin-top: 16px;
  }

  .heroTitle {
    display: flex;
    justify-content: space-between;
    font-size: 92px;
    line-height: 92px;
    letter-spacing: 0.92px;
    margin-bottom: 16px;
  }

  .heroImage {
    width: 283px;
    height: 386px;
    position: absolute;
    bottom: 0px;
    left: 133px;
  }

  .position {
    position: absolute;
    bottom: 35px;
    right: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 16px;
  }

  .buttonHero {
    width: 190px;
    height: 41px;
    margin-bottom: 0;
    padding: 0;

    font-size: 16px;
    line-height: 19px;
    border-radius: 12px;
  }

  .heroLastText {
    width: 190px;
    text-align: right;
    font-size: 12px;
    line-height: 14px;
  }
}
