.styleTitleAbout {
  color: #fff;
  font-family: "Right Grotesk";
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}

.styleTitleAboutTwo {
  color: #dc3b5a;
  font-family: "Right Grotesk";
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}

.textAbout {
  color: #fff;
  text-align: right;
  font-family: "Messina Sans Mono";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.crossStyle {
  width: 24px;
  height: 24px;
}

.paragraphAbout {
  color: #fff;
  text-align: center;
  font-family: "Messina Sans Mono";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .aboutSection {
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .styleTitleAbout {
    font-size: 40px;
    line-height: 40px;
  }

  .styleTitleAboutTwo {
    font-size: 40px;
    line-height: 40px;
  }
  .textAbout {
    width: 216px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 19px;
  }

  .crossStyle {
    margin-top: 36px;
    margin-bottom: 16px;
  }

  .paragraphAbout {
    font-size: 12px;
    line-height: 14px;
    width: 216px;
    margin-bottom: 40px;
  }

  .stylePicture {
    max-height: 292px;
  }
}
